@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0b0f19] text-slate-100 antialiased font-sans selection:bg-emerald-500 selection:text-white min-h-screen overflow-x-hidden;
  }
}

/* Custom smooth scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0f19;
}

::-webkit-scrollbar-thumb {
  background: #2a3449;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b4861;
}
